.fc-day-sun a {
    color: red;
    text-decoration: none;
}

/* 토요일 날짜 파란색 */
.fc-day-sat a {
    color: blue;
    text-decoration: none;
}

.fc-toolbar-title {
    font-size: 1.2em !important;
    font-weight: bold;
}
